<div class="hero-unit">
	<div class="hero-hugs">
	</div>
</div>


<div id="map"></div>


<div class = "well">
<form>
  <div class="form-group">
    <label for="new-search">New Search</label>
    <input type="text" class="form-control" name="q" id="new-search" placeholder="Enter Nationality">
    <input type="hidden" class="form-control" name="latitude" id="lat">
    <input type="hidden" class="form-control" name="longitude" id="lon">
  </div>
  <button type="submit" class="btn btn-default">Submit</button>
</form>

</div>

<script type="text/javascript">

	$(function () {
		$('#lat').val(localStorage.getItem('latitude'));
		$('#lon').val(localStorage.getItem('longitude'));
		
		var map = L.map('map').setView([<%= @latitude %>, <%= @longitude %>], 13);
		var currentLocation = [<%= @latitude %>, <%= @longitude %>];


		L.tileLayer('https://api.tiles.mapbox.com/v4/{id}/{z}/{x}/{y}.png?access_token={access_token}', {
		    attribution: 'Map data &copy; <a href="http://openstreetmap.org">OpenStreetMap</a> contributors, <a href="http://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a>, Imagery © <a href="http://mapbox.com">Mapbox</a>',
		    maxZoom: 18,
		    id: "<%= ENV['mapbox_id'] %>",
		    access_token: "<%= ENV['mapbox_access_token'] %>"
		}).addTo(map);	

		map.scrollWheelZoom.disable();

		var markersYelp = {}
		var markersMeetup = {}
		var currentLocationMarker = L.marker(currentLocation).addTo(map);
		var currentLocationContent = '<h4>You Are Here</h4>'
		currentLocationMarker.bindPopup(currentLocationContent);

		var meetupIcon = L.icon({
		    iconUrl: '/assets/Meetup_Logo.png',
		    iconSize: [55, 40],
		    iconAnchor: [22, 64],
		    popupAnchor: [-3, -76]
		});

		var yelpIcon = L.icon({
			iconUrl: '/assets/Yelp_Logo.png',
			iconSize: [55, 40],
		    iconAnchor: [22, 64],
		    popupAnchor: [-3, -76]			
		})


		//Yelp Content
		var popupContentsYelp = {}

		<% @businesses.each_with_index do |business, index| %>
			popupContentsYelp["popup" + <%= index %>] = '<h3><%=escape_javascript business[:name].to_s %></h3><p><strong>Address: <br /></strong><%=escape_javascript business[:address].to_s.gsub!(/\W/,' ')%></p><p><strong>Recent Tweets: <br /></strong><%=escape_javascript @tweets[0].to_s.gsub!(/\W/,' ') %></p>'
			markersYelp["marker" + <%= index %>] = L.marker(<%= business[:coordinates] %>, {icon: yelpIcon}).bindPopup(popupContentsYelp['popup' + <%= index %>]).addTo(map);
		<% end %>


	
		//Meetup Content
		var popupContentsMeetup = {}

		<% @meetups.each_with_index do |meetup, index| %>
			popupContentsMeetup["popup" + <%= index %>] = '<h3><%=escape_javascript meetup["event"]%></h3>'
			markersMeetup["marker" + <%= index %>] = L.marker(<%= meetup["coordinates"] %>, {icon: meetupIcon}).bindPopup(popupContentsMeetup['popup' + <%= index %>]).addTo(map);
		<% end %>



		function goTo($el) {
			console.log("hello from goTo")
		    $('html, body').animate({
		        scrollTop: $el.offset().top + 'px'
		    }, 'slow');
		    return $el;
	    }

	    // $("html, body").animate({ scrollTop: $('#title1').offset().top }, 1000);

	    goTo($('#map'));

	})

</script>
