<!DOCTYPE html>
<html>
<head>
  <title>Word On The Street</title>
  <link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet-0.7.3/leaflet.css" />
<script src="http://cdn.leafletjs.com/leaflet-0.7.3/leaflet.js"></script>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>




<body>
<div class="container_nav">
	<nav class="nav">
		      <ul class="nav-bar">
		        <li class="list-item"><a href="#"><%= link_to "Home", '/' %></a></li>
		        <li class="list-item"><a href="#"><%= link_to "My Community", '/' %></a></li>

		        <li class="list-item"><a href="#"><%= link_to "Sign Up", new_user_registration_path %></a></li>
		        <li class="list-item"><a href="#">
		        	<% if current_user %>
		        		<%= link_to "Sign-out", destroy_user_session_path, :method => :delete %>
					<% else %>
					<%= link_to "Sign-in", new_user_session_path %>
					<% end %>
		        	</a></li>
		        <li class="list-item login-nav-bar pull-right">
		        	<%= form_tag new_user_session_path do %>
					Email <%= text_field_tag :email %>
					Password <%= password_field_tag :password %>
					<%= submit_tag "Login" %>
					<% end %>
		        </li>
	     	  </ul>

	  </nav>
</div>







<div class="hero-unit">
	<div class="hero-hugs">
	  <h1>What's the <br /><strong>Word On<br />The Street?</strong></h1>
	  <h2>Find Your<br />International<br />Community<br />Locally:</h2>
	  <p>	
	  	<%= form_tag("/map", method: 'get', :class => "form-inline myinput") do %>
				<%= hinted_text_field_tag('q') %>
				<%= hidden_field_tag('latitude', nil, { :id => 'lat' }) %>
				<%= hidden_field_tag('longitude', nil, { :id => 'lon' }) %>
				<%= submit_tag "Submit", name: nil, :class => "btn btn-default" %>

			<% end %>
	  </p>
	</div>
</div>






<%= yield %>

	



	</body>
</html>
