<!DOCTYPE html>
<html>
<head>
  <title>Word On The Street</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>




<body>
<div class="container_nav">
	<nav class="nav navbar">
		      <ul class="nav-bar">
		        <li class="list-item"><a href="#"><%= link_to "Home", '/' %></a></li>
		        <% if current_user %>
		        <li class="list-item"><a href="#"><%= link_to "My Community", streetwords_path %></a></li>
		        <% end %>
				<% if current_user.nil? %>
		        <li class="list-item"><a href="#"><%= link_to "Sign Up", new_user_registration_path %></a></li>
		        <% end %>
		        <li class="list-item pull-right"><a href="#">
		        	<% if current_user %>
		        		<%= link_to "Sign-out", destroy_user_session_path, :method => :delete %>
					<% end %>
		        	</a></li>
		        <li class="list-item  pull-right">
		        	<% if current_user %>
		        		<p><strong>Signed in as <%= current_user[:email] %></strong></p>
		        	<% else %>
		        	<%= link_to "Sign-in", new_user_session_path %>
		        	<% end %>
		        </li>
	     	  </ul>

	  </nav>
</div>




<%= yield %>

	

<div class="navbar navbar-bottom" role="navigation">
	<div class="container footer">
		<p>© 2015 William Bishop</p>
	</div>
</div>

	</body>
</html>
